@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: black;
  background-image: url("../IMAGES/Frame\ 12.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-position-y: top;
}

/* Section one */

.sectionone {
  width: 100%;
  height: auto;
}

.sectionone .whitebox {
  position: relative;
  left: 15%;
  display: flex;
  gap: 60%;
  width: 70%;
  height: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 80px;
}

.sectionone .whitebox .mainlogo {
  width: 100%;
  height: 100px;
}

.sectionone .whitebox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  width: 1000%;
  height: 50px;
  margin-top: 35px;
}

.sidecontent {
  display: block;
  color: #ffffff;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.sidecontent h2 {
  width: 50%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}

.sidecontent p {
  width: 40%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}

.sidecontent a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-left: 35px;
}

.sidecontent .started {
  display: flex;
  align-items: center;
  width: 160px;
  margin-bottom: 30px;
  height: 80px;
  background: #f97316;
  border-radius: 20px;
}

.sectiontwo {
  width: 100%;
  height: 620px;
  background-color: white;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

.sectiontwo img {
  padding-left: 50px;
  width: 100%;
  height: 400x;
}

.sectiontwo p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  padding-left: 50px;
  width: 600px;
}

/* Tablet view */

@media screen and (max-width: 1177px) {
  .sectionone .whitebox {
    gap: 55%;
    width: 70%;
    margin-top: 50px;
  }

  .sectionone .whitebox .mainlogo {
    height: 70px;
  }

  .sectionone .whitebox p {
    font-size: 15px;
    margin-right: 20px;
    margin-top: 25px;
  }

  .sidecontent {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .sidecontent h2 {
    width: 50%;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .sidecontent p {
    width: 50%;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sidecontent a {
    font-size: 14px;
    padding-left: 30px;
  }

  .sidecontent .started {
    width: 140px;
    height: 70px;
  }

  .sectiontwo {
    height: 400px;
  }

  .space {
    padding-top: 80px;
  }

  .sectiontwo img {
    height: 250px;
  }

  .sectiontwo p {
    font-size: 30px;
    width: 400px;
  }
}

/* Mobile view */

@media screen and (max-width: 800px) {
  body {
    background-image: none;
  }

  .sectionone .whitebox {
    position: relative;
  }

  .sectionone .whitebox p {
    display: none;
  }
  
 .sectionone .whitebox img {
    position: relative;
    left: -100px;
  }

  .sidecontent {
    margin-left: 17%;
  }

  .sidecontent h2 {
    width: 80%;
    font-size: 23px;
  }

  .sidecontent p {
    width: 80%;
  }

  .sectiontwo {
    height: 600px;
  }

  .space {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .sectiontwo img {
    padding-left: 0%;
  }

  .sectiontwo p {
    font-size: 25px;
    width: 100%;
    margin-bottom: 50px;
  }
}

/* Fikayo */
@media screen and (max-width: 1024px) {
  .dynamicText {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .dynamicText {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .dynamicText {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 354px) {
  .dynamicText {
    font-size: 8px; /* 14px */
  }
}


/* Stella */
